<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>DC</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="useHand.css">
  </head>
  <body>
    <div class="hero">
      <div class="svgAnimation">

      <img src="hold.svg" id="Layer_1" alt="" style="height:40%;width:35%;">

      </div>

      <div class="knowMore">
        <!-- <h1 class="heading">Hey Did you see that?</h1> -->
        <h3 class="subHeading"></h3>
      </div>
      

    </div>

  <!-- <script src="style.js" charset="utf-8"></script> -->
  <script src="typeit.min.js"></script>

  <script>
    new TypeIt('.subHeading', {
strings: ['Use your hand gestures play the game!','3','2','1'],
speed: 90,
breakLines: false,
waitUntilVisible: true
}).go();
</script>

  </body>
</html>
